Repository theislab/tardis: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  args:
  - --line-length
  - '120'
  require_serial: true

isort:
  name: isort (python)
  entry: isort
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

Add cosine embedding loss
  tardis/_DEBUG.py
  tardis/_losses.py
  tardis/_myconstants.py
  tardis/losses/cosine_embedding.py
  tardis/losses/jsd.py
Due: black, isort, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

continuous latent runs
  training/local/runs/miller_age.ipynb
  training/server/runs/figure3/braun_age-continuous.py
  training/server/runs/figure3/braun_age-continuous_1.py
  training/server/runs/figure3/braun_age-continuous_1_slurm_job.sh
  training/server/runs/figure3/braun_age-continuous_2.py
  training/server/runs/figure3/sciplex-cpa_age_dose-continuous_1.2.py
  training/server/runs/figure3/sciplex-cpa_age_dose-continuous_1.2_slurm_job.sh
  training/server/runs/figure3/sciplex-cpa_age_dose-continuous_1.3.py
  training/server/runs/figure3/sciplex-cpa_age_dose-continuous_1.3_slurm_job.sh
  training/server/runs/figure3/sciplex-cpa_age_dose-continuous_1.4.py
  training/server/runs/figure3/sciplex-cpa_age_dose-continuous_2.2.py
  training/server/runs/figure3/sciplex-cpa_age_dose-continuous_2.2_slurm_job.sh
  training/server/runs/figure3/sciplex-cpa_age_dose-continuous_2.3_slurm_job.sh
  training/server/runs/figure3/sciplex-cpa_age_dose-continuous_2.py
  training/server/runs/figure3/sciplex-cpa_age_dose-continuous_2_slurm_job.sh
  training/server/runs/figure3/suo_age-continuous.py
  training/server/runs/figure3/suo_age-continuous_1.py
  training/server/runs/figure3/suo_age-continuous_1_slurm_job.sh
  training/server/runs/figure3/suo_age-continuous_2.py
Due: none

metrics during training
  environment/tardis_R_env_server.yaml
  tardis/_mycomponents.py
  tardis/_myconstants.py
  tardis/_mymodel.py
  tardis/_mymonitor.py
  tardis/_mytrainingplan.py
  tardis/_utils/functions.py
  training/local/runs/l_afriat.ipynb
Due: black, isort, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update README.md
  README.md
Due: isort, end-of-file-fixer, trailing-whitespace

Figure update
  data/models/.gitkeep
  data/processed/.gitkeep
  environment/tardis_env_server.yaml
  notebooks/figure2/afriat_mi.ipynb
  notebooks/figure7/afriat.ipynb
  notebooks/figure7/miller.ipynb
Due: isort, check-yaml, end-of-file-fixer, trailing-whitespace

Path conditions:
  black: any of: \.py$, but not: ^training/
  isort: any file but: .*\.ipynb$|^training/
  check-toml: any of: \.toml$, but not: ^training/
  check-yaml: any of: \.(yaml|yml)$, but not: ^training/
  end-of-file-fixer: any file but: docs/|^training/
  flake8: any of: \.py$, but not: ^training/
  pyupgrade: any of: \.py$, but not: ^training/
  trailing-whitespace: any file but: ^training/
